.home-flex-search {
  display: flex;
  justify-content: space-between;
}

.home-flex-main-items,
.home-flex-represent-items,
.home-flex-other-items {
  display: flex;
  flex-flow: wrap;
}

.home-flex-logo-items {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
