@import "input-helpers";

.input2-custom {
  width: 560px;
}

.input2-form-boundary {
  input {
    height: 30px !important;
  }
}

.input2-border {
  border: 1px solid #DCDCDC;
  border-radius: 5px;
}

.input2-search-input {
  width: 80% !important;
}

.input2-mm {
  font-size: 12px;
}

.form-group {
  display: inline-block;
  width: 110px;
  margin: 0 8px;
  label {
    font-size: 12px;
  }
  &:nth-child(4) {
    width: 120px;
  }
}

.input2 {
  border: none !important;
  outline: none;
  height: 30px !important;
}

.input2-custom-padding {
  padding: 1rem 1rem 1.5rem 1rem;
}

.input2-custom-margin-bottom {
  margin-bottom: 20px;
}

.input2-search-button {
  cursor: pointer;
  display: inline-block;
  background-color: white;
  height: 30px;
  width: 30px;
}

.input2-centered-button {
  padding: 5px 0 0 7px;
}

.input2-small-text {
  font-size: 10px;
  text-align: right;
  margin-right: 4rem;
}
