@import "input-helpers";

.name-search-custom {
  width: 285px;
}

.name-search-form-boundary {
  border: 1px solid rgb(102, 102, 102);
}

.name-search {
  border: none !important;
  outline: none;
  max-width: 90% !important;
  width: 90% !important;
  height: 30px !important;
}

.name-search-custom-padding {
  padding: 1rem;
}

.name-search-custom-margin-bottom {
  margin-bottom: 40px;
}
