@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');
@import "main";
@import "nav";
@import "variables";
@import "name-search";
@import "dimension";
@import "home";
@import "filter-search";
@import "title-card";
@import "main-card";
@import "represent-card";
@import "other-card";
@import "footer";

html {
  font-family: "Inter", sans-serif;
}

.text-primary {
  color: $primary;
}

.smaller {
  font-size: 14px;
}

.upper {
  text-transform: uppercase;
}

.white {
  color: white !important;
}

.black {
  color: black !important;
}

.bg-primary {
  border: $primary;
}
