@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');
@import "main";
@import "nav";
@import "variables";
@import "input1";
@import "input2";
@import "pocetna";

html {
  font-family: "Inter", sans-serif;
}

.text-primary {
  color: $primary;
}

.smaller {
  font-size: 14px;
}

.upper {
  text-transform: uppercase;
}
