.contact-card-container {
  padding: 10px 15px 15px 15px;
  h4, p {
    padding: 5px 0;
    @include portraittablet {
      font-size: 0.9rem;
    }
  }
  @include portraittablet {
    padding: 5px 8px 8px 8px;
    margin: 10px;
  }
}
