.contact-information {
  display: flex;
}

.contact-people {
  display: flex;
  flex-flow: row wrap;
  width: 60%;
  margin-right: 1rem;
}

.contact-flex-main-items {
  display: flex;
  flex-flow: wrap;
}
