@import "input-helpers";
@import "mixins";

.dimension-custom {
  @include landscapetablet {
    border-bottom: 3px solid rgba(0, 0, 0, 0.06);
    border-top: 3px solid rgba(0, 0, 0, 0.06);
  }

  @include portraittablet {
    border-bottom: 3px solid rgba(0, 0, 0, 0.06);
    border-top: 3px solid rgba(0, 0, 0, 0.06);
  }

  @include phone {
    border-bottom: 3px solid rgba(0, 0, 0, 0.06);
    border-top: 3px solid rgba(0, 0, 0, 0.06);
  }
}

.dimension-form-boundary {
  input {
    height: 30px !important;
    border: none;
  }

  background-color: white;
}

.dimension-border {
  border: 1px solid #DCDCDC;
  border-radius: 5px;
}

input[type="number"].dimension-search-input {
  width: 78% !important;
  appearance: none;
  @include tablet {
    width: 90% !important;
  }
}

input[type="number"].dimension-remove-arrows {
  &::-webkit-outer-spin-button {
    appearance: none;
  }

  &::-webkit-inner-spin-button {
    appearance: none;
  }

  appearance: none;
}

.dimension-mm {
  font-size: 12px;
  user-select: none;
}

.form-group {
  width: 100px;
  margin: 0 8px;

  label {
    font-size: 10px;
  }

  @include landscapetablet {
    width: 45%;
  }

  @include portraittablet {
    width: 45%;
  }

  @include phone {
    width: 80%;
  }
}

.dimension {
  border: none !important;
  outline: none;
  height: 30px !important;
}

.dimension-custom-padding {
  padding: 1rem 2rem;
}

.dimension-custom-margin-bottom {
  margin-bottom: 20px;

  @include landscapetablet {
    margin-bottom: 0;
  }

  @include portraittablet {
    margin-bottom: 0;
  }

  @include phone {
    margin-bottom: 0;
  }
}

.dimension-search-button {
  cursor: pointer;
  align-self: center;
  background-color: white;
  height: 30px;
  width: 30px;
  margin-top: 10px;

  @include landscapetablet {
    margin-left: auto;
  }

  @include portraittablet {
    margin-left: auto;
  }

  @include phone {
    margin-left: auto;
  }
}

.dimension-centered-button {
  padding: 5px 0 0 7px;
}

.dimension-small-text {
  text-align: right;
  margin-right: 4rem;
  width: 100%;
  font-size: 0.55rem;
}
