@import "input-helpers";
@import "mixins";

.dimension-custom {
  max-width: 560px;
  @include phone {
    width: 85%;
    border-bottom: 3px solid rgba(0, 0, 0, 0.06);
    border-top: 3px solid rgba(0, 0, 0, 0.06);
  };
}

.dimension-form-boundary {
  input {
    height: 30px !important;
    border: none;
  }

  background-color: white;
}

.dimension-border {
  border: 1px solid #DCDCDC;
  border-radius: 5px;
}

input[type="number"].dimension-search-input {
  width: 78% !important;
  appearance: none;
}

input[type="number"].dimension-remove-arrows {
  &::-webkit-outer-spin-button {
    appearance: none;
  }

  &::-webkit-inner-spin-button {
    appearance: none;
  }

  appearance: none;
}

.dimension-mm {
  font-size: 12px;
  user-select: none;
}

.dimension-form-group-holder {
  // @include phone {
    display: flex;
    flex-wrap: wrap;
  // };
}

.form-group {
  display: inline-block;
  width: 100px;
  margin: 0 8px;
  label {
    font-size: 10px;
  }
  @include phone {
    width: 45%;
  };
  &:nth-child(4) {
    flex-flow: column;
  }
}

.dimension {
  border: none !important;
  outline: none;
  height: 30px !important;
}

.dimension-custom-padding {
  padding: 1rem 1rem 1.5rem 1rem;
}

.dimension-custom-margin-bottom {
  margin-bottom: 20px;
  @include phone {
    margin-bottom: 0;
  };
}

.dimension-search-button {
  cursor: pointer;
  // display: inline-block;
  align-self: center;
  background-color: white;
  height: 30px;
  width: 30px;
  margin-top: 10px;
  @include phone {
    margin-left: auto;
  };
}

.dimension-centered-button {
  padding: 5px 0 0 7px;
}

.dimension-small-text {
  // font-size: 10px;
    text-align: right;
    margin-right: 4rem;
    width: 100%;
    font-size: 0.55rem;
}
