@import "variables";
@import "mixins";

.filter-search-custom {

  @include landscapetablet {
    border-bottom: 3px solid rgba(0, 0, 0, 0.06);
    border-top: 3px solid rgba(0, 0, 0, 0.06);
  }

  @include portraittablet {
    border-bottom: 3px solid rgba(0, 0, 0, 0.06);
    border-top: 3px solid rgba(0, 0, 0, 0.06);
  }

  @include phone {
    border-bottom: 3px solid rgba(0, 0, 0, 0.06);
    border-top: 3px solid rgba(0, 0, 0, 0.06);
  }
}

.filter-search-custom-padding {
  padding: 1rem 2rem;
}

.filter-search-custom-margin-bottom {
  @include landscapetablet {
    margin-bottom: 0;
  }

  @include portraittablet {
    margin-bottom: 0;
  }

  @include phone {
    margin-bottom: 0;
  }
}

.filter-search-category-name {
  font-size: 12px;
  color: $secondary;
}
