@import "variables";
@import "mixins";

.footer-container {
  background-color: $footer-bg;
  color: white;
  padding-bottom: 2rem;
}

.footer-flex-container {
  display: flex;
  justify-content: space-between;
  @include footerphone {
    display: block;
  }
}

.footer-address-value {
  @include footerphone {
    text-decoration: underline;
  }
}

.footer-phone-number-item {
  display: inline-block;
  margin: 5px 0;
}

.footer-divider {
  border-bottom: 2px solid $primary;
}

.footer-map {
  width: 376px;
  height: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  @include tablet {
    display: block;
    height: 418px;
  }

  @include footerphone {
    margin: auto;
  }
}
