@import "mixins";

.full-search-item-flex-search {
  @include landscapetablet {
    flex-direction: column;
  }

  @include portraittablet {
    flex-direction: column;
  }

  @include phone {
    flex-direction: column;
  }
}
