@import "mixins";

.home-flex-other-items {
  @include portraittablet {
    justify-content: space-around;
  }
}

.home-flex-represent-items {
  @include phone {
    flex-flow: row nowrap;
    width: 100%;
  };
}
