@import "variables";
@import "mixins";

.main-card-container {
  padding: 1rem;
  max-width: 45%;

  @include portraittablet {
    padding: 1rem 0.5rem;
  }

  @include phone {
    max-width: 100%
  };
}

.main-card-first-row {
  img {
    width: 69px;
    height: 71px;
  }
}

.main-card-container-accent {
  background-color: $card-bg;
}

.main-card-image {
  margin-right: 1rem;
  img {
    @include landscapetablet {
      height: 100%;
    }
  }
}

.main-card-content {
  margin-left: 1rem;
}

.main-card-danger-link {
  background-color: #EB3237;
  color: white;
  padding: 10px 0;
  border-radius: 5px;
  &:hover {
    text-decoration: none;
    color: white;
  }
}
