@import "variables";
@import "mixins";

.main-card-container {
  display: flex;
  padding: 1rem;
  max-width: 45%;
  @include phone {
    max-width: 100%
  };
}

.main-card-container-accent {
  background-color: $card-bg;
}

.main-card-image {
  margin-right: 1rem;
}

.main-card-content {
  margin-left: 1rem;
}

.main-card-danger-link {
  background-color: #EB3237;
  color: white;
  display: block;
  padding: 10px 0;
  text-align: center;
  border-radius: 5px;
  &:hover {
    text-decoration: none;
    color: white;
  }
}
