@import "variables";
@import "mixins";

.other-card-container {
  margin: 1rem;
  max-width: 30%;
  border-bottom: 2px solid $primary;
  @include portraittablet {
    max-width: 45%;
  }

  @include phone {
    border-bottom: none;
    max-width: 100%;
    width: 100%;
  }
}

.other-card-img-content-bundle {
  @include tablet {
    margin-bottom: 1rem;
  }

  @include phone {
    justify-content: space-between;
  }
}

.other-card-image {
  margin-right: 1rem;

  @include tablet {
    display: block;
  }

  img {
    @include portraittablet {
      max-height: 92px;
      max-width: 84px;
    }
  }

  @include phone {
    height: 53px;
    width: 48px;
    order: 2;
  };
}

.other-card-content {
  margin-left: 1rem;
  h3 {
    @include phone {
      order: 1;
    }
  }
}

.other-card-link {
  text-decoration: none !important;
  background-color: $primary;
  color: white;
  &:hover {
    color: white;
  }
  padding: 5px 3rem;
}
