@import "variables";
@import "mixins";

.represent-card-container {
  width: 25%;
  display: flex;
  flex-flow: column;
  border-bottom: 1px solid white;
  transition: all 100ms linear;
  &:hover {
    border-bottom: 1px solid $primary;
  }
  & p {
    margin-left: 1rem;
    @include phone {
      margin: 0;
    };
  }
  @include phone {
    min-width: 50%;
    padding: 5px;
  };
}
