::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #ccc;
}

::-webkit-scrollbar-thumb {
  background: #111;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #000;
}
