@import "variables";

.title-card-container {
  max-width: 410px;
  background-color: black;
  clip-path: polygon(0 0, 96% 0, 91% 75%, 0% 75%);
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 343px;
    width: 50px !important;
    height: 100% !important;
    clip-path: polygon(40% 0%, 100% 0%, 90% 75%, 0% 90%);
    background-color: $primary;
  }
}

.title-card-content {
  padding: 5px 0 0 11px;
  color: white;
}
