// COLOURS
$primary: #EB3237;
$secondary: #A0A0A0;
$card-bg: #F5F5F5;
$footer-bg: #202020;
$text-card-bg: #FAFAFA;
$text-card-front: #202020;
$form-bg: #202020;

// BREAKPOINTS
$phone-min: 320px;
$phone-max: 649px;
$tablet-portrait-min: 650px;
$tablet-portrait-max: 899px;
$tablet-landscape-min: 900px;
$tablet-landscape-max: 1225px;
$laptop-min: 1225px;
$laptop-max: 1599px;
$desktop-min: 1600px;
$desktop-max: 1920px;
