@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');
@import "scroller";
@import "nav";
@import "variables";
@import "name-search";
@import "dimension";
@import "helpers";
@import "filter-search";
@import "main-card";
@import "other-card";
@import "table-card";
@import "help-card";

html {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

.text-primary {
  color: $primary;
}

.text-white {
  color: $white;
}

.smaller {
  font-size: 14px;
}

.upper {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.white {
  color: white !important;
}

.black {
  color: black !important;
}

.bg-primary {
  background-color: $primary;
}

.bg-form {
  background-color: $form-bg;
}

.border-primary {
  border: $primary;
}

.card-item-padding {
  padding: 0 2rem;
}

.table-margin {
  &-top {
    margin-top: 1rem;
  }

  &-bot {
    margin-bottom: 1rem;
  }
}
.represent-arrow {
  height: 100px !important;
  width: 100px !important;
  color: brown !important;
}

.input-colour-border {
  background-color: $card-bg;
  border-radius: 5px;
  font-weight: bold;
}

.hr-black {
  border-bottom: 2px solid black;
}

#step1,
#step2,
#step3,
#step4,
#step5 {
  position: relative;
}

.pointer {
  cursor: pointer;
}

.rel {
  position: relative;
}
