@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');
@import "scroller";
@import "main";
@import "nav";
@import "variables";
@import "name-search";
@import "dimension";
@import "home";
@import "filter-search";
@import "title-card";
@import "main-card";
@import "represent-card";
@import "other-card";
@import "footer";
@import "full-search-item";
@import "about";
@import "text-card";
@import "logo-strip";
@import "assortment";
@import "table-card";
@import "product";
@import "catalogues";
@import "catalogue-card";
@import "contact";
@import "contact-card";
@import "contact-form";
@import "help-card";

html {
  font-family: "Inter", sans-serif;
}

.text-primary {
  color: $primary;
}

.smaller {
  font-size: 14px;
}

.upper {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.white {
  color: white !important;
}

.black {
  color: black !important;
}

.bg-primary {
  background-color: $primary;
}

.border-primary {
  border: $primary;
}

.card-item-padding {
  padding: 0 2rem;
}

.table-margin {
  &-top {
    margin-top: 1rem;
  }

  &-bot {
    margin-bottom: 1rem;
  }
}

.hr-black {
  border-bottom: 2px solid black;
}

#step1,
#step2,
#step3,
#step4,
#step5 {
  position: relative;
}
